{% extends 'layout.html' %}
{% block content %}
<h1>
    활용 관리
</h1>

<h2>
    {{email}} 님 오늘도 즐거운 하루 되세요!!!
    <br>
    현재까지 당신이 신청한 활용은 {{count}}개 입니다.
</h2>

{%for item in doc%}
<h2>
    {{loop.index}}
</h2>
활용 이름 >
{{item['app_name']}}
<br>
활용 목적 >
{{item['app_purpose']}}
<br>
신청일 >
{{item['reporting_date'].year}}년 {{item['reporting_date'].month}}월 {{item['reporting_date'].day}}일
<br>
만료일 >
{{item['expiration_date'].year}}년 {{item['expiration_date'].month}}월 {{item['expiration_date'].day}}일
<br>
호출량 >
{{item['traffic']}}
<br>
<div class='button'>

<form method="POST" action="/management">
<button type='submit' name='reissue' value={{item['_id']}}>인증키 재발급</button>
</form>
<br>
{%endfor%}


{%if authKey%}
<script type="text/javascript">
    prompt('성공적으로 인증키가 변경되었습니다.\n복사하세요','{{authKey}}')
</script>
{%endif%}

{% endblock %}