{% extends 'layout.html' %}
{% block content %}
<h1>
    활용 관리
</h1>

{%for item in doc%}
<h2>
    {{loop.index}}
</h2>
app_name >
{{item['app_name']}}
<br>
app_purpose >
{{item['app_purpose']}}
<br>
신청일 >
{{item['reporting_date']['year']}}년 {{item['reporting_date']['month']}}월 {{item['reporting_date']['date']}}일
<br>
만료일 >
{{item['expiration_date']['year']}}년 {{item['expiration_date']['month']}}월 {{item['expiration_date']['date']}}일
<br>
호출량 >
{{item['traffic']}}
<br>
<br>

{%endfor%}

{% endblock %}