{% extends 'layout.html' %}
{% block content %}
<h1>
    활용 신청
</h1>
<form method="POST" action="/register">
    <div class="form-group">
        <label for="app_name" > 활용명 </label>
        <input type="text" name="app_name" class="form-control" placeholder="활용명을 입력하세요">
    </div>
    <div class="form-group">
        <label for="app_purpose"> 활용 목적 </label>
        <textarea type="text" name="app_purpose" class="form-control" rows="3" placeholder="활용 목적을 입력하세요"></textarea>
        </div>
    <div class='button'>
        <button type="submit" class="btn btn-info">등록</button>
    </div>
</form>
<div>
    <p>
        <h5>
            {% if app_name and app_purpose %}
            인증키: {{authKey}}
            {%endif%}
        </h5>
    </p>
</div>
{% endblock %}